<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>tinhh.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>tinhh.log4j.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>tinhh.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>tinhh.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>tinhh.controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuizController</servlet-name>
        <servlet-class>tinhh.controller.CreateQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionController</servlet-name>
        <servlet-class>tinhh.controller.CreateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingQuestionController</servlet-name>
        <servlet-class>tinhh.controller.PagingQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionController</servlet-name>
        <servlet-class>tinhh.controller.DeleteQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuestionController</servlet-name>
        <servlet-class>tinhh.controller.ViewQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionController</servlet-name>
        <servlet-class>tinhh.controller.UpdateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadQuizController</servlet-name>
        <servlet-class>tinhh.controller.LoadQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusController</servlet-name>
        <servlet-class>tinhh.controller.ChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadQuizResultController</servlet-name>
        <servlet-class>tinhh.controller.LoadQuizResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadQuizListController</servlet-name>
        <servlet-class>tinhh.controller.LoadQuizListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeQuizController</servlet-name>
        <servlet-class>tinhh.controller.TakeQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finishQuizController</servlet-name>
        <servlet-class>tinhh.controller.FinishQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishQuizController</servlet-name>
        <servlet-class>tinhh.controller.FinishQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTimeStartController</servlet-name>
        <servlet-class>tinhh.controller.UpdateTimeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTimeController</servlet-name>
        <servlet-class>tinhh.controller.UpdateTimeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuizController</servlet-name>
        <url-pattern>/CreateQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionController</servlet-name>
        <url-pattern>/CreateQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingQuestionController</servlet-name>
        <url-pattern>/PagingQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionController</servlet-name>
        <url-pattern>/DeleteQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuestionController</servlet-name>
        <url-pattern>/ViewQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionController</servlet-name>
        <url-pattern>/UpdateQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadQuizController</servlet-name>
        <url-pattern>/LoadQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusController</servlet-name>
        <url-pattern>/ChangeStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadQuizResultController</servlet-name>
        <url-pattern>/LoadQuizResultController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadQuizListController</servlet-name>
        <url-pattern>/LoadQuizListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeQuizController</servlet-name>
        <url-pattern>/TakeQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finishQuizController</servlet-name>
        <url-pattern>/finishQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishQuizController</servlet-name>
        <url-pattern>/FinishQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTimeStartController</servlet-name>
        <url-pattern>/UpdateTimeStartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTimeController</servlet-name>
        <url-pattern>/UpdateTimeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            100
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>Resource reference to javax.sql.Connection</description>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>FilterDispatcher</welcome-file>
    </welcome-file-list>
    
    
    <display-name>Log4jWebDemo1</display-name>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
</web-app>
